* {
    margin: 0;
    padding: 0;
}

html {
    overscroll-behavior: none;
}

body {
    font-family: monospace;
    overscroll-behavior: none;
    height: 100dvh;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}
